<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon home-icon" aria-label="Example icon-button with home icon">
      <mat-icon>menu_book</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon add-icon" aria-label="Example icon-button with home icon">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button class="example-icon list-icon" aria-label="Example icon-button with list icon">
      <mat-icon>list</mat-icon>
    </button>
  </mat-toolbar>
</p>

<app-books class="container"></app-books>

